@charset "UTF-8";

/* 共通 ---------------------------*/
:root {
    --v-space: clamp(90px, 9vw, 120px);
}

body {
    margin: 0;
    background-color: #eee;
    color: #222;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 1.8;
}

a {
    /*デフォルトの青色解除、親と同じ色にする*/
    color: inherit;
    /* 下線無し */
    text-decoration: none;
}

/* ホバーで明度下げて、色濃くする */
a:hover {
    filter: brightness(90%) contrast(120%);
}

img {
    display: block;
    /* オリジナルサイズ以上に拡大されるのを防ぐ */
    max-width: 100%;
    /* 縦横比保持 */
    height: auto;
}

/* 横幅と左右の余白 */
.w-container {
    width: min(92%, 1166px);
    margin: auto;
    position: relative;
}

/* ヘッダー ---------------------------*/
.header {
    height: 112px;
    background-color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* 要素３つ以上の場合の両端配置*/
/*ロゴ右に自動余白*/
/* .site{
    margin-right: auto;
} */

/* ナビ ---------------------------*/
.navbtn {
    /*buttonタグのデフォルト装飾解除*/
    padding: 0;
    /*装飾解除*/
    outline: none;
    /*装飾解除*/
    border: none;
    /*装飾解除*/
    background: transparent;
    cursor: pointer;
    color: #aaa;
    font-size: 30px;
}

.open .navbtn {
    z-index: 110;
    color: #fff;
    position: fixed;
    right: 30px;
}

.navbtn .fa-bars {
    display: revert;
}

.open .navbtn .fa-bars {
    display: none;
}

/* ×ボタン */
.navbtn .fa-times {
    display: none;
}

.open .navbtn .fa-times {
    display: revert;
}


/* 色 */
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: currentColor;
}

/* メイン画像 ---------------------------*/
.hero {
    height: 650px;
    background-image: url(img/hero.jpg);
    background-position: center;
    background-size: cover;
}

/* テキスト */
.hero-container {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100%;
}

.hero h1 {
    margin-bottom: 42px;
    font-family: "Montserrat,sans-serif";
    font-size: 48px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    font-size: clamp(48px, 5vw, 68px);
    min-height: 0vw;
}

.hero p {
    margin-bottom: 72px;
}

.btn {
    display: block;
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #e8b368;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 6px #00000052;
}


/* 記事 -------------------------*/
/* 全体*/
.imgtext {
    padding: var(--v-space) 0;
    background-color: #fff;
}

/* 記事間の重複余白をなくす */
.imgtext+.imgtext {
    padding-top: 0;
}

/* 内側のdiv */
.imgtext-container {
    display: flex;
    /* 子要素を縦並び */
    flex-direction: column;
    gap: clamp(45px, 6vw, 80px);
}

/* タイトル */
.heading-decoration {
    font-size: clamp(30px, 3vw, 40px);
    min-height: 0vw;
    font-weight: 400;
}

/* 飾り下線 */
.heading-decoration:after {
    display: block;
    content: '';
    width: 160px;
    height: 0px;
    border-top: solid 1px #b72661;
    margin-top: 0.6em;
}

/* サブタイトル */
.heading-decoration+p {
    margin-top: 1em;
    margin-bottom: 2em;
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}


/* 記事一覧 -------------------------*/
/* セクション全体 */
.posts {
    padding: var(--v-space) 0;
    background-color: #f3f1ed;
}

/* 見出し */
.heading {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(40px, 5.2vw, 70px);
    min-height: 0vw;
    font-weight: 300;
    position: absolute;
    /*変数+0.6emの部分は半角スペース必須*/
    /*topの値をマイナスにしたいので、calc()内で「*-1」している*/
    top: calc((var(--v-space) + 0.6em)*-1);
}

/* 見出し　日本語部分 */
.heading span {
    display: block;
    /*縦並び*/
    color: #666;
    font-size: 18px;
}

/* 記事のコンテナ */
.posts-container {
    display: grid;
    /* SP時 2列、均等幅 */
    grid-template-columns: repeat(2, 1fr);
    gap: 31px 25px;
}



/* 各記事 ------*/
/* 画像 */
.post img {
    /* 縦横比 */
    aspect-ratio: 3/2;
    object-fit: cover;
    /* aspect-ratioを反映するために、幅指定 */
    width: 100%;
}

/* safari14以前など、aspect-ratio未対応の場合 */
@supports not(aspect-ratio:3/2) {
    .post img {
        height: 180px;
    }
}

/* 各記事全体リンク */
.post a {
    display: block;
}

/* 見出し */
.post h3 {
    margin: 1em 0 0.5em;
    font-size: clamp(12px 2vw, 20px);
    min-height: 0vw;
}

/* 本文 */
.post p {
    max-width: 20em;
    font-size: clamp(10px, 1.6vw, 14px);
    min-height: 0vw;
}

/* アイテムの配置指定する場合 --------------------*/
/* grid-column=横、grid-row=縦 */
/* 横1列目から、横２行分「span 2」 */
/* 縦1行目から、縦２行分「span 2」 */

/* .post:nth-of-type(1)でも同じ */
/* .posts-container> :nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
} */

/* .posts-container > :nth-child(1) img{
    aspect-ratio: 3/2.5;
} */
/* アイテムの配置指定する場合 --------------------*/


/* @mediaで列数指定しない方法 --------------------*/
/* 最小幅200pxで表示したときのｺﾝﾃﾅの横幅に収まる数＝横に並ぶ列の数 */
/* auto-fit＝列数が少ない時、空欄ができないようにする。minmax(200px,1fr)＝最小幅、最大幅1fr(全幅) */
/*auto-fit=空欄ができない、3列のまま。auto-fill=空欄ができる、空の列が作成され4列になる*/
/* .posts-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
} */
/* @mediaで列数指定しない方法 --------------------*/


/* PC時 */
/* 3列、均等幅 */
/* @media(min-width:768px) {
    .posts-container {
        grid-template-columns: repeat(3, 1fr);
    }
} */

/* フレックスボックスで並べる場合 */
/* 記事のコンテナ */
/* .posts-container {
    display: flex;
    flex-wrap: wrap;
}
.posts-container > * {
    width: 50%;
    padding: 0 12.5px 32px;
    box-sizing: border-box;
}
@media(min-width:768px) {
    .posts-container  > *{
        width: 33.33%;
    }
} */


/* 下層ページ 「サービス案内」-------------------------*/
/* 記事 */
.entry{
    padding-bottom: var(--v-space);
    background-color: #fff;
}




/* フッター -------------------------*/
.footer {
    padding: 70px 0;
    background-color: #fff;
    color: #707070;
    font-size: 13px;
}

.footer-container {
    display: grid;
    gap: 50px;
    justify-items: center;
    /*各列内のアイテムの横位置*/
}

/* SNS */
.footer-sns {
    display: flex;
    gap: 24px;
    font-size: 24px;
}

.footer-sns a {
    display: grid;
    place-items: center;
    width: 36px;
    height: 36px;
    /* aspect-ratio: 1 / 1; */
    background-color: #ccc;
    color: #fff;
    clip-path: circle(50%);
}

/* @supports not (aspect-ratio: 1/1) {
    .footer-sns a {
        height: 36px;
    }
} */


/* フッターナビ */
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}



/* スマホ時 ---------------------------*/
@media (max-width: 767px) {

    /* ナビ ---------------------------*/
    .nav {
        position: fixed;
        inset: 0 -100% 0 100%;
        z-index: 100;
        background-color: #4e483ae6;
        transition: 0.3s;
    }

    /* ナビ開いてるとき　htmlタグにクラス「open」つく */
    .open nav {
        transform: translate(-100%, 0);
    }

    .open body {
        position: fixed;
        overflow: hidden;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 40px;
        color: #fff;
    }
}


/* PC時 ---------------------------*/
@media(min-width:768px) {

    /* ナビ ---------------------------*/
    .navbtn {
        display: none;
    }

    .nav ul {
        display: flex;
        gap: 40px;
        color: #707070;
    }

    /* フッター -------------------------------*/
    .footer-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }

    .footer-container>.footer-site {
        margin-bottom: 20px;
    }

    /* 左寄せ */
    .footer-container>*:not(.footer-sns) {
        justify-self: start;
    }

    /* 右寄せ */
    .footer-container>.footer-sns {
        grid-column: 2;
        grid-row: 1/4;
        justify-self: end;
        align-self: center;
    }


    /* トップページ 各記事 --------------------*/
    .imgtext-container {
        /* 子要素を横並び */
        flex-direction: row;
        align-items: center;
    }

    /* 配置逆の記事 */
    .imgtext-container.reverse {
        /* 配置左右逆 */
        flex-direction: row-reverse;
    }

    .imgtext-container>.text {
        flex: 1;
        /*17文字分の横幅以下にならないように指定*/
        /* ブラウザのデフォルト16px×17文字＝272px */
        min-width: 17em;
    }

    .imgtext-container>.img {
        flex: 2;
    }

    /* トップページ 記事一覧 ----------------------*/
    /*  PC時 3列  */
    .posts-container {
        grid-template-columns: repeat(3, 1fr);
    }



}